.contenedor_contac{
    display: flex;
    position: relative;
    background: #f48c06;
    justify-content: flex-end;
    padding: 20px;

}
.contac_izq{
    background-color: white;
    position: absolute;
    padding: 10px 20px;
    width: 500px;
    top: 50px;
    left: 50px;
    bottom: 50px;

}
.title_contac_izq{
    color: var(--color-text-negro);
    font-family: var(--fuente-OPENSANS);
    font-size: 1.5rem;
}

.contac_nombre label{
    display: block;
    color: var(--color-azul-fuerte);
    font-size: 1rem;
    font-weight: 600;

}
.contac_email label{
    display: block;
    color: var(--color-azul-fuerte);
    font-size: 1rem;
    font-weight: 600;
}
.contac_nombre .con_label{
    padding-right: 15px;
}
.contac_nombre .input_nom{
    display: block;
    width: calc(100% - 30px);
    padding: 7px 15px;
    margin-top: 5px;
    outline: none;
    border: 1px solid var(--color-azul-fuerte);
    border-radius: 7px;
    background: none;
    color: var(--color-azul-fuerte);
}
.contac_email .con_email{
    width: calc(100% - 30px);
    display: block;
    padding: 7px 15px;
    margin-top: 5px;
    outline: none;
    border: 1px solid var(--color-azul-fuerte);
    border-radius: 7px;
    background: none;
    color: var(--color-azul-fuerte);
}


.contac_nombre{
    display: flex;
    padding-bottom: 10px;
    
}
.btn_enviar .contac_envio {
    cursor: pointer;
    color: white;
    background-color: #03071E;
    padding: 1px 15px;
    font-family: 'Cabin', sans-serif;
    font-weight: 10 ;
    border:#03071E solid;
    border-radius: 300px
}



.contac_der{
    width: 50%;
    background-color: #370617;
    padding: 10px 30px;
}
.contac_description .topic{

    font-family: var(--fuente-OSWALD);
    color: #f48c06;
    font-size: 1.5rem;
}
.contac_description .detalle{
    color: white;
    font-family: var(--fuente-OSWALD);
}


.anuncio{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    
}


.contac_icon{
    text-align: center;
    padding: 30px;
    background-color:#f48c06 ;
    color: white;
}
.contac_description{
    padding: 10px 15px;
}
.contac_redes_atencion{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 15px;
    
}
.contac_redes .topic{
    font-family: var(--fuente-OSWALD);
    color: #f48c06;
    font-size: 1.5rem;
}
.contac_redes .ico{
    color: white;
}
.contac_atencion .topic{
    font-family: var(--fuente-OSWALD);
    color: #f48c06;
    font-size: 1.5rem;
}

.contac_atencion .detalle{
    color: white;
    font-family: var(--fuente-OSWALD);
}

.ubi_detalle{
    display: flex;
    align-items: center;
    background-color: #03071E ;
    padding: 8px 30px ;
    
}
.ubi_detalle .ico_ubi{
    padding: 8px;
    color: white;
    background-color:#f48c06 ;
    border-radius: 100%;
}

.ubi_detalle .topic{
    font-family: var(--fuente-OPENSANS);
    color: white;
}


textarea{
	border: 10px;
	border-radius:10px;
	background-color:#f6f6f6;			
	margin:8px 0;
    text-align: center;
	display:block;
    width: 100%;
    max-width: 500px;
    max-height: 100px;
}
