/* BOTON DE WSSÇ */
.btn-wss-ct{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--color-amarillo);
    padding: 10px;
    border-radius: 50%;
    bottom: 50px;
    right: 50px;
    z-index: 10;
}
.btn-wss-ct>a{
    color: var(--color-blanco);
    font-size: 2rem;
}
.btn-wss-ct:hover a{
    color: var(--color-vino);
}


.pdd_border{
    padding-left: 50px;
    padding-right: 50px;
}


.contenedor{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    max-width: 1200px;
}


.nav{
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 70px;
    font-size: .8rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
    .scrolling{
        background-color: var(--color-amarillo);
    }
    .scrolling .nav__navegacion .nav__items{
        color: var(--color-vino);
    }
    .scrolling .nav__navegacion .nav__items:hover{
        border-bottom: 5px solid var(--color-vino);
    }
    .scrolling .nav__items--cta:not(.nav__items--cta.register):hover{
        border: 1px solid var(--color-vino);
        color: var(--color-vino);
    }
    .scrolling .nav__items--cta.register:hover{
        border: 1px solid var(--color-vino);
        background: var(--color-vino);
        color: var(--color-amarillo);
    }
.nav .logo{
    flex: 0 1 auto;
    display: flex;
    height: 70px;
    align-items: center;
    margin-right: 20px;
}
    .logo>.normal{
        width: 70px;
    }
    .logo>.long{
        height: 40px;
    }

    .logo .change-marca{
        display: none;
    }


.btn-menu_nav{
    color: var(--color-vino);
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
    align-items: center;
    height: 60px;
}   
    .btn-menu_nav.active{
        background-color: var(--color-vino);
        color: var(--color-blanco);
    }


.nav .container-items-nav{
    flex: 1 1 auto;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}


.nav__navegacion{
    display: flex;
    align-items: center;
}
.nav__items{
    color: var(--color-blanco);
    height: 70px;
    line-height: 70px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuente-OPENSANS);
    font-weight: 900;
    
    transition: all ease .2s;
}
    .nav__items>i{
        margin-left: 15px;
    }
    .nav__items:hover, .nav__items.active{
        border-bottom: 5px solid var(--color-blanco);
        height: 65px;
        font-size: .9rem;
    }
    .nav__items>i{
        transition: transform ease .5s;
    }
    .nav__items.down>i{
        transform: rotate(180deg);
    }

    
.nav .nav__botones{   
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    height: 70px;
    font-family: var(--fuente-OPENSANS);
    padding: 0 20px;
}
.nav__items--cta{
    border: 2px solid var(--blanco);
    color: var(--color-blanco);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px 15px;
    font-family: var(--fuente-OPENSANS);
    font-size: .8rem;
    font-weight: bolder;
    background: none;

    transition: all ease-in .2s;
}
    
    .nav__items--cta.register{
        margin-left: 20px;   
        background-color: var(--blanco);
        color: var(--color-vino);
    }
        .nav__items--cta:not(.nav__items--cta.register):hover{
            border: 1px solid var(--color-amarillo);
            color: var(--color-amarillo);
        }
        .nav__items--cta.register:hover{
            border: 1px solid var(--color-amarillo);
            background: var(--color-amarillo);
            color: var(--color-vino);
        }


    .bolsita{
        position: relative;
        font-family: var(--fuente-FRANKLIN);
        font-weight: 700;
        height: 70px;
        display: flex;
        align-items: center;
    }
        .bolsita a>img{
            height: 40px;
        }
    .bolsita>.contador{
        background-color: var(--blanco);
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--color-vino);
        font-size: .9rem;

        position: absolute;
        bottom: 7px;
        right: -10px;
    }


/*---------------VENTANA DE REGISTRO------------------*/
.registro{
    background: var(--color-blanco);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    bottom: 0;  
    overflow: scroll;    
    transform: translateX(100%);
    transition: all ease .5s;
    visibility: hidden;  
}
    .registro::-webkit-scrollbar{
        display: none;
    }
    .registro.active{
        visibility: visible;  
        transform: translateX(0);
    }
.colum {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    position: relative;
}
    .colum>button{        
        position: absolute;
        padding: 10px 15px;
        background-color: var(--color-vino);
        top: 0;
        left: 0;
        text-align: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: none;
    }
    .colum button>i{
        color: var(--color-blanco);
        font-size: 1.5rem;
    }
    .colum>img{
        height: 45px;
    }
.formulario {
    padding: 10px 40px 30px 40px;
    width: 350px;
}
.form__titulo {
    font-family: var(--fuente-OSWALD);
    color: var(--color-text-negro-bajo);
    margin:0;
    text-align: center;
    font-size: 1.7rem;
}
.input-contenedor{
    padding: 30px 0;
    font-family: var(--fuente-OPENSANS);
}
    .row-input{
        display: flex;
        padding-bottom: 10px;
    }
    .row-input .col-input{
        margin: 0;
        width: 100%;
        display: block;
    }
        .col-input.clm-1{
            padding-right: 15px;
        }
        .col-input.clm-2{
            padding-left: 15px;
        }
    .col-input label{
        display: block;
        color: var(--color-azul-fuerte);
        font-size: .9rem;
        font-weight: 600;
    }
    .col-input input{
        display: block;
        width: calc(100% - 30px);
        padding: 7px 15px;
        margin-top: 5px;
        outline: none;
        border: 1px solid var(--color-brd-input);
        border-radius: 7px;
        background: none;
        color: var(--color-text-negro-bajo);

        transition: all ease .3s;
    }
        .col-input .error{
            border: 2px solid var(--color-reprobado);
        }
            .mnj-error{
                display: block;
                width: 100%;
                color: var(--color-reprobado);
                font-weight: bolder;
                font-size: .75rem;
                padding: 0 10px;
            }
        .col-input input:focus{
            border: none;
            border-bottom: 3px solid var(--color-amarillo-principal);
        }
.pie-form{
    text-align: center;
    font-family: var(--fuente-OPENSANS);
}
.pie-form .btn-enviar{
    color: var(--color-vino);
    background: var(--color-amarillo-principal);
    border: none;
    width: 100%;
    font-size: .9rem;
    font-weight: bolder;
}
    .pie-form .btn-enviar:hover{
        background: var(--color-amarillo);
        color: var(--color-blanco);
    }
.pie-form .form__link{
    color: var(--color-text-negro-bajo);
    font-weight: bolder;
    font-size: .8rem;
    padding: 20px 0;
    margin: 0;
}
    .form__link>a{
        color: var(--color-reprobado);
        text-decoration: none;
        margin-left: 5px;
    }
    .form__link>a:hover{
        color: var(--color-rojo-oscuro);
    }
    


/* ---------------------------MENU DESPLEGABLE DE PRODUCTOS---------------------- */
.menu-container{
    font-family: var(--fuente-OPENSANS);
    background: var(--color-blanco);
    transform: translateY(-200%);

    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 5;
    transition: transform ease 1s;
}
    .menu-container.active{
        transform: translateY(0%);
    }

.carrousel-menu, .group-items{
    display: flex;
}
.carrousel-menu{
    justify-content: center;
    padding: 10px 0;
    align-items: center;
}
.carrousel-menu>button{
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    background: var(--color-vino);
    color: var(--color-blanco);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    transition: background ease .2s;
}
    .carrousel-menu button:hover{
        background: var(--color-amarillo-principal);
    }
.group-items{
    margin: 0 25px;
    max-width: 520px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.group-items .item-categoria{
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}
    .item-categoria .item-img{
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 15px;
    }
    .item-categoria .item-img>img{
        width: 85%;
        max-height: 85%;
        object-fit: cover;
        position: absolute;

        transition: all ease .5s;
    }
        .item-categoria:hover .item-img>img{
            width: 105%;
            max-height: 105%;
        }
    .item-categoria .name-cat-menuD{
        text-transform: uppercase;
        font-weight: 900;
        font-size: .8rem;
        margin: 10px 0;
        color: var(--color-text-input);

        transition: all ease .2s;
    }
        .item-categoria:hover .name-cat-menuD{
            color: var(--color-vino);
            border-bottom: 2px solid var(--color-vino);
        } 

@media only screen and (max-width:960px){
    .pdd_border{
        padding: 0 20px;
    }
    .nav, #logo-marca, .bolsita{
        height: 60px;
    }
    .bolsita{
        margin-left: 15px;
    }
    .nav .logo>.normal{
        height: 40px;
        width: auto;
    }

    .nav{
        background-color: var(--color-amarillo);
    }
    .group_btn{
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }
    .btn-menu_nav{
        display: block;
        padding: 0 20px; 
    }
    .nav .container-items-nav{
        height: auto;
    }
    .nav .nav__navegacion{
        display: block;
    }
    .container-items-nav{
        background-color: var(--color-naranja);
        transition: all ease .5s; 
        
        position: fixed;
        left: 0;
        top: 60px;
        right: 0;
        z-index: -1;
        transform: translateY(-150%);
    }       
        
        .container-items-nav.active{
            overflow: scroll;  
            transform: translateX(0);
            display: block;
        }
        .container-items-nav.active::-webkit-scrollbar{
            display: none;
        }
        .nav__items:hover, .nav__items.active{
            height: auto;
            border-bottom: 3px solid var(--color-blanco);
        }
    .nav__navegacion{
        padding: 30px 0;
        width: 70%;
        margin: auto;
    }
    .nav__items{
        display: block;
        height: auto;
        line-height: normal;
        width: 100%;
        text-align: center;
        padding: 12px 0;
        border-bottom: 1px solid var(--color-amarillo);
    }
        /* .nav__items:hover{
            height: auto;
        } */
    .nav .botones-option{
        width: 70%;
        margin: auto;
        padding: 15px 0 50px 0;
    }
    .botones-option .nav__items--cta{
        width: 200px;
        margin: auto;
    }  
        .nav__items--cta.register{
            color: var(--color-naranja);
            font-weight: var(--weigth-OPENSANS-SEMIBOLD-600);
        }
        

    /*----MENU DESPLEGABLE------*/
    .menu-container{
        transition: none;
    }
    .menu-container.active{
        position: relative;
        top: 0;
        background: none;
    }
    .menu-container.active .carrousel-menu{
        display: block;
        padding: 0;
    }
    .menu-container.active .group-items{
        display: block;
        margin: 0;
        max-width: 100%;
    }
    .menu-container.active button{
        display: none;
    }
    .menu-container.active .item-categoria{
        display: block;
        width: 100%;
        text-align: center;
        padding: 12px 0;
        border-bottom: 1px solid var(--color-amarillo);
    }
    .menu-container.active .item-categoria .item-img{
        display: none;
    }
    .menu-container.active .item-categoria .name-cat-menuD{
        color: var(--color-blanco);
        font-weight: var(--weigth-OPENSANS-REGULAR-400);
        margin: 0;
    }
        .item-categoria:hover .name-cat-menuD{
            border-bottom: none;
        }
}    
@media only screen and (max-width:720px){
    .btn-wss-ct{
        bottom: 30px;
        right: 20px;        
    }
    .container-items-nav .botones-option{
        display: block;
    }
    .botones-option .nav__items--cta{
        width: 70%;
        display: block;
        margin: auto;
    }
        .nav__items--cta.register{
            margin-top: 25px;
        }

    .nav__navegacion, .botones-option{
        width: 85%;
    }
}
@media only screen and (max-width: 540px){
    .registro{
        top: 60px;
        left: 0;
    }
    .formulario{
        width: 80%;
        margin: 0 auto;
    }
    .form__titulo{
        font-size: 1.4rem;
    }
    .input-contenedor{
        padding: 15px 0;
    }
    .col-input label{
        font-size: .75rem;
    }
    .pie-form .btn-enviar{
        font-size: .7rem;
        padding: 5px;
    }
    .pie-form .form__link{
        font-size: .65rem;
    }
}