/*------------CORREGIDO-------------*/
.main-contains{
    margin-top: 70px;
    padding-bottom: 70px;
}

.head_main_section .menuPin{
    font-size: 1.9rem;
    border-bottom: 5px solid var(--color-amarillo-principal);
}


/* carrusel*/

.carru{
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: var(--fuente-OPENSANS);
}
div.carrousel2{
    background: #d5d5d5;
    border-radius: 100px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrousel2>button{
    width: 30px;
    height: 30px;
    background: var(--color-vino);
    color: var(--color-blanco);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.carrousel2 .items-carru{
    display: flex;
    margin: 0 15px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.item-categoria2{
    font-weight: 900;
    font-size: 1rem;
    color: var(--color-text-negro-bajo);
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 100px;
    margin: 0 10px;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    transition: all ease .3s; 
} 
    .item-categoria2.active{
        background: var(--color-vino);
        color: var(--color-blanco);
    }
    .item-categoria2:hover .img-cat>img{
        width: 105%;
        max-height: 105%;
    }
    .item-categoria2:hover:not(.item-categoria2.active){
        background: var(--color-amarillo-principal);
    }
    .item-categoria2 .img-cat{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .item-categoria2 .img-cat>img{
            width: 90%;
            max-height: 90%;
            object-fit: cover;
            transition: all ease .4s;
        }
    .item-categoria2 .name-cat{
        font-size: .85rem;
        margin: 0;
        text-align: center;
        max-width: 110px;
    }
  
.filter-menu{
    width: 100%;
    padding: 25px 0;
    font-family: var(--fuente-OPENSANS);
    font-weight: bolder;
    color: var(--color-text-negro-bajo);
}
    .container-filtros{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .filter{
        display: flex;

        align-items: center;
    }
    .filter>p{
        margin: 0;
        font-size: .8rem;
    }
    .select{
        margin-left: 15px;
        font-size: .75rem;
        color: var(--color-text-negro-bajo);
        background-color: #d5d5d5;
        padding: 7px 15px;
        outline: none;
        border: none;
        border-radius: 50px;
    }

.list-product{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.grid-product{  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

/*cada seccion de producto*/
.card{
    width: 200px;
    padding: 15px 20px;
    font-family: var(--fuente-OSWALD);
    background: var(--color-blanco);
    
    transition: all 0.25s;
    box-shadow: 0 8px 10px var(--color-brd-input);
}
    .card>div:first-child{
        height: 260px;
    }
    .card div .img-product{
        width: 140px;
        height: 140px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .card .img-product>img{
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          transition: all ease .4s;
        }
    .card div .descripciones{
        text-transform: uppercase;
        font-weight: var(--weigth-OSWALD-SEMIBOLD-600);
    }
        .descripciones .descrip-product{
            font-size: 1.4rem;   
            margin: 0;
            color: var(--color-text-negro);
            line-height: 100%;
            height: 50px;
            max-height: 50px;
            overflow: hidden;
        }
        .descripciones .precio{
            color: var(--color-text-negro-bajo);
            font-size: 1.25rem;
            margin: 0;
            padding: 10px 0;
        }
        .card:hover .img-product>img{
            width: 115%;
            max-height: 115%;
        }
    .card .cont-add{
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
        button.btn-agregar{
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-amarillo-principal);
            color: var(--color-text-negro-bajo);
            font-family: var(--fuente-OSWALD);
            font-weight: var(--weigth-OSWALD-SEMIBOLD-600);
            text-transform: uppercase;
            padding: 7px 10px;
            border-radius: 20px;
            border: none;
            font-size: .8rem;
            cursor: pointer;

            transition: all ease .2s;
        }
        .btn-agregar>img{
            margin-right: 10px;
        }
        .btn-agregar:hover{
            color: var(--color-blanco);
            background: var(--color-vino);
        }

 
  
@media only screen and (max-width: 720px){
    .grid-product{
      grid-template-columns: 1fr;
    }
}