/*Codificado Eddy*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .sub-ttlo {
    color: var(--color-amarillo-principal);
    text-align: center;
    font-size: 40px;
  }
  .contenedor {
    width: 100%;
    margin: auto;
  }
  .img1 {
    max-width: 100%;
  }
  /*.caja .img1 {
    width: 100px;
    height: 50px;
    margin: 0;
    padding: 0;
  }*/
  
  .caja {
    margin: 10px;
    /*font-size: 50px;*/
    text-align: center;
    border: 2px solid var(--color-vino);
    cursor: pointer;
  }
  .caja_columna div {
    /*background: #32b2d5;*/
    padding: 2em;
  }
  .caja_columna {
    display: grid;
  }
  @media (min-width: 520px) {
    .caja_columna {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .contenedor {
      width: 1024px;
    }
    .caja_columna {
      grid-auto-rows: minmax(250px, auto);
      /*4 columna*/
      grid-template-columns: repeat(4, 1fr);
    }
    /**/
    .descripcion-producto {
      padding: 0;
      font-weight: 154px;
    }
    .descripcion-producto .nombre-producto {
      font-size: 1.05rem;
      padding: 0;
  
      font-family: monospace;
    }
    .descripcion-producto .product-component-price {
      padding: 0;
      font-size: 1.5rem;
    }
    .descripcion-producto .boton-primario {
      color: var(--color-blanco);
      margin-top: 73px;
      border-radius: 18px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 25px;
      font-size: 12px;
      display: inline-block;
      letter-spacing: 1.4px;
      text-decoration: none ;
      border: none;
      background: var(--color-naranja);
      padding: 7px 15px;
    }
  
    /*nth-child para dar estilo a una caja en especifico que queramos es como un array*/
  
    /*con el nth-child(1) indicamos que vamos a editar la primer caja, el grid-row indicamos que ocupe hasta el tercer reglon*/
    .caja_columna .caja:nth-child(1) {
      grid-row: 1/3;
    }
    /*editamos la ultima caja, grid-column indicamos que se ocupe toda la fila */
    .caja_columna .caja:nth-child(8) {
      grid-column: 1/5;
    }
  }
  /*Codificado Mendoza*/
  #main-banner{
    margin-bottom: 0px;
  }
  .main-banner-img img {
    height: auto;
    width: 100%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .contenido-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 30px;
    position: relative;
    cursor: pointer;
    
  }
  .contenido-grid >div{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
  .contenido-grid .promo-principal{
    grid-column-start:span 2 ;
    border: 1px solid var(--color-vino);
  }
  .contenido-grid .promo-principal img{
    width: 30%;
  }
  .contenido-grid .promo-principal .submit-promo{
    border-radius: 18px;
    background-color: var(--color-naranja);
    text-transform: uppercase;
    padding: 5px 29px;
    font-weight: bold;
    line-height: 25px;
    font-size: 12px;
    display: inline-block;
    letter-spacing: 1.4px;
    text-decoration: none ;
    color: var(--color-blanco);
  }
  @media (max-width: 600px) {
    .contenido-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }