.textoo {
    margin-top: 110px;
    width: auto;
    display: flex;
}
.subtitulo {
    font-size: 1.7rem;
    font-family: var(--fuente-OSWALD);
    color: var(--color-text-negro-bajo);
    font-weight: var(--weigth-OSWALD-SEMIBOLD-600);
    border-bottom: 5px solid var(--color-amarillo-principal);
    margin: 0;
}
/*Tabla*/
.tabla {
  margin-top: 50px;
}
  .tabla > div {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      font-family: var(--fuente-OPENSANS);
      /*se aumento*/
      margin-bottom: 197px;
  }
  .tablita {
      margin: 0;
  }
    /* SEPARAR POR COLUMNA */
    .tablita .producto-table{
      width: 300px;
    }
    .tablita .precio-table{
      width: 70px;
    }

.tablita > thead {
  border-bottom: 1px solid var(--color-text-input);
  background: none;
  text-transform: uppercase;
  color: var(--color-text-negro-bajo);
}
.img1 {
  max-width: 100px;
  float: left;
  margin-right: 15px;
}
/*-----------------FILA DE PRODUCTOS CON DESCRIPCION-----------*/
.descrip-dttlle {
  display: flex;
  align-items: center;
}
.descrip-dttlle .tittle-pd {
  font-family: var(--fuente-OSWALD);
  font-weight: var(--weigth-OSWALD-SEMIBOLD-600);
  color: var(--color-text-negro-bajo);
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0;
}
.descrip-dttlle .infor-adicion {
  margin: 0;
  color: var(--color-text-input);
  font-weight: var(--weigth-OPENSANS-SEMIBOLD-600);
}
.precio-tabla {
  font-family: var(--fuente-OSWALD);
  font-weight: var(--weigth-OSWALD-SEMIBOLD-600);
  color: var(--color-text-negro-bajo);
  font-size: 1.3rem;
}
/*se agrego dt cantidad y los otros dtcantidad*/
.dtcantidad {
  padding: 0 61px;
}
.dtcantidad .btn_cantdd {
  background: var(--color-amarillo-principal);
  border: none;
  width: 30px;
  font-size: 1.3rem;
  cursor: pointer;
  height: 30px;
  font-weight: var(--weigth-OSWALD-SEMIBOLD-600);
  color: var(--color-vino);
}
.dtcantidad > input {
  border: none;
  font-size: 1.1rem;
  color: var(--color-vino);
  width: 30px;
  outline: none;
  text-align: center;
}
/*se aumento esta clase para el icono de la basura*/
.button {
  color: red;
}
/*CANJEO*/
.canjeo {
  margin-left: 89px;
  margin-top: 50px;
}
.t-cupon {
  margin: 0;
}
.tex {
  background-color: var(--azul-fuerte);
  text-align: center;
  color: white;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: block;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 1rem;
  font-weight: bolder;
}
.cupon-100 {
  color: var(--azul-fuerte);
  width: 100%;
  padding: 5px 7px;
  font-size: 1rem;
  font-weight: bolder;
  border: 1px solid var(--azul-fuerte);
  /*se agrego el font y text*/
  font-family: var(--weigth-OSWALD-SEMIBOLD-600);
}
.contenedor-inputt {
  padding: 20px 30px;
  display: flex;
  border: 1px solid var(--azul-fuerte);
}
.inputt-boton {
  background: var(--azul-fuerte);
  color: var(--color-blanco);
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
}

/*se agrego .sub-iva-total*/
.sub-iva-total {
  font-family: var(--Banchscrich-font);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0 30px;
}

.tt {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-negro-bajo);
}
.price_total_pago {
  font-family: var(--fuente-OSWALD);
  font-size: 1.5rem;
}
.pie {
  margin-top: 20px;
}
.btn-enviar {
  display: block;
  width: 380px;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  /*se comento el border
  border: 1px solid #1d1d1d;*/
}
.btn-enviar2 {
  width: 380px;
  padding: 10px;
  padding: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  border: 3px solid #f48c06;
  background-color: #f48c06;
}
